_assets
_assets_storage
_search
*client_decompiled.zip
*client.jar
*server.jar
*client_decompiled*
*server_decompiled*
*client_unzipped*
*server_unzipped*
*client.tsrg
*client.txt
*server.tsrg
*server.txt
JavaDataMiner.code-workspace
pyrightconfig.json
all_language_keys.json
*__pycache__
*.pyc
.vscode